.feedback-list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  margin: 24px 0;
}

.feedback-item {
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  color: #a167f8;
}
